<br>
<br>
<br>
<div class="container">

    <div class="row">
        
        <div class="col-md-3"></div>
        <div class="col-md-8">
            {{#each game}}
            <h3>{{this.date}} </h3>
            <p>{{this.location}}</p>
            <img src="/images/team-logos/{{this.awayTeam.Abbreviation}}.png" } alt=""> @
            <img src="/images/team-logos/{{this.homeTeam.Abbreviation}}.png" } alt=""> {{/each}}
            <br>
            <br>
            <br> {{#each comment}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{this.email}}</strong>
                    <span class="text-muted">{{this.created_at}}</span>
                    <div class="panel-body">
                        <button hidden id='reload' name={ {this.gameId}}></button>
                        <p>{{this.text}}</p>
                        {{#if this.isOwner}}
                        <input type="text" id="{{this._id}}" placeholder="edit this comment" value="">
                        <button id="edit" name="{{this._id}}" class='btn btn-primary'>Edit</button>

                        <button id='delete' name={{this._id}} class='btn btn-primary'>Delete</button>
                        {{/if}} {{/each}}
                         <form id="form" class="col" action="/create/{{someGameId}}" method="POST">

                    <input type="text" name="add" placeholder="Where's the best tailgate?">
                    <button class="btn btn-success">Post</button>
                    <label for="name" class="center"></label>
                </form>
                    </div>
                    <!-- /panel-body -->
                </div>
                <!-- /panel panel-default -->
               
            </div>
        </div>

    </div>
</div>