
<head> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

</head>

{{#each game}}
   Week {{ this.week }}
        {{this.awayTeam.City}}{{this.awayTeam.Name}}
        @
        {{this.homeTeam.City}}{{this.homeTeam.Name}}
{{/each}}



<form id="form" action="/create/{{someGameId}}" method="POST">
    <label for="name">Post a comment</label><br>
    <input type="text" name="add"
      placeholder="Where's the best tailgate?">
      <button class ="btn-success">Post</button>
      </form>

    
    {{#each comment}}
    <button hidden  id = 'reload' name = {{this.gameId}}></button>
       Comment on {{this.created_at}} from: {{this.email}} <p>{{this.text}}</p>
       {{#if this.isOwner}}
       <input type = "text" id = "{{this._id}}" placeholder="edit this comment" value ="">
       <button id = "edit" name = "{{this._id}}"class = 'btn btn-primary'>Edit</button>
    
       <button id = 'delete' name = {{this._id}} class = 'btn btn-primary'>Delete</button>
       {{/if}}
       <br>
       
    {{/each}}

   

   