
<h1>Team page</h1>

{{#each flight}} <p>{{this}}</p> {{/each}}
<strong>Welcome, {{currentUser.name}}. Go <img src="/images/team-logos/{{yourTeam.Abbreviation}}.png" alt="">   {{yourTeam.Name}}! This is your team dashboard.</strong> 
 <br><br><br>
 <table class = "table table-dark">
  <tr>
    <th>Week</th>
    <th>Date</th> 
    <th>Opponent</th>
    <th>Time</th>
  </tr>
   {{#each team}}
  <tr>
    <td>{{this.week}}</td>
    <td>{{this.date}}</td> 
    <td>  <form action="/game/{{this.id}}" method="POST" ><button class ="btn btn-dark" id = "game-button" type = "submit" value = "{{this.id}}" style = "background-color: transparent">@ <img src="/images/team-logos/{{this.homeTeam.Abbreviation}}.png" alt="" height = "30px" width = "30px";> {{this.homeTeam.Abbreviation}}</button></form></td>
    <td>{{this.time}}</td>
  </tr>
 {{/each}}
 </table>